version: "3"
services:
  gitlab:
    restart: always
    image: genshen/gitlab-ce:latest
    container_name: gitlab_ce
    depends_on:
    - redis
    - postgresql
    ports:
    - ":::10080:8181"
    - ":::2222:22"
    environment:
    - WORKHORSE_LISTEN_NETWORK=tcp  # or unix
    - GITLAB_PAGES=ture
    volumes:
    - ./config:/etc/gitlab
    - ./data/gitlab:/gitlab/data
    - ./data/gitlab-pages/shared:/gitlab/gitlab-pages:z
    - ./data/gitlab/gitlab-logs:/var/log/gitlab

  gitlab-pages:
    restart: always
    image: genshen/gitlab-pages:latest
    container_name: gitlab-pages
    # command: ./bin/gitlab-pages -config ./pages.conf    # config file template is at gitlab-pages/page.conf.
    command: ./bin/gitlab-pages -listen-http ":8080" -pages-root  /home/git/gitlab-pages/pages -pages-domain  example.io
    ports:
    - ":::8090:8080"
    volumes:
    #- ./data/gitlab-pages/pages.log:/home/git/gitlab-pages/pages.conf
    #- ./data/gitlab-pages/gitlab-pages.log:/home/git/gitlab-pages/gitlab-pages.log
    - ./data/gitlab-pages/shared:/home/git/gitlab-pages/pages:z

  redis:
    restart: always
    image: redis:latest
    container_name: redis
    command:
    - --loglevel warning
    volumes:
    - ./data/redis:/var/lib/redis:Z

  postgresql:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile-pg-with-pg_trgm
    image: postgresql-with-pg_trgm
    container_name: postgresql
    volumes:
    - ./data/postgresql:/var/lib/postgresql/data:Z
    environment:
    - POSTGRES_USER=git
    - POSTGRES_PASSWORD=secure_password
    - POSTGRES_DB="gitlabhq_production"
    - PGDATA=/var/lib/postgresql/data